html {
  padding: 0;
  margin: 0;
}

body {
background-color: hsl(0, 0%, 90%);
}

main {
  display: flex;
}

.header {
  background-color: rgb(50, 167, 145);
  padding: 1%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: -10px;
}

/* .trybewarts-header-logo {

} */

.trybewarts-login {
  display: flex;
  justify-content: flex-end;
}

.email {
  border-radius: 6px;
  height: 30px;
  width: 140px;
  border: none;
}

.password {
  border-radius: 6px;
  height: 30px;
  width: 140px;
  border: none; 
}

.entrada {
  border-radius: 6px;
  height: 30px;
  width: 120px;
  border: none;
  background-color: rgb(52, 8, 109);
  color: white;
  font-weight: bold;
}

#trybewarts-header-title {
  display: flex;
  align-self: center;
  color: white;
}

#title-form {
display: flex;
margin: 30px 320px;
}

#evaluation-form {
  display: flex;
  width: 675px;
  flex-direction: column;
}

#trybewarts-forms-logo {
  height: 500px;
  margin-left: 250px;
}

#nameLastName {
  display: flex;
  flex-wrap: wrap;
  margin-top: 5%;
  margin-left: 20%;
  margin-bottom: 5px;
  justify-content: space-evenly;
  width: 700px;
}

#emailHouse {
  display: flex;
  flex-wrap: wrap;
  margin: 1%;
  margin-left: 20%;
  margin-bottom: 24px;
  justify-content: space-evenly;
  width: 700px;
}

#family {
  display: flex;
  flex-direction: column;
  align-items:flex-start;
  margin-left: 160px;
  font-size: 17px;
}

.family {
  display: flex;
}

.label {
  display: flex;
  align-self: flex-start;
}

#rate {
  display: flex;
}

#input-name {
  border-radius: 6px;
  height: 50px;
  width: 300px;
  border:none; 
}

#input-lastname {
  border-radius: 6px;
  height: 50px;
  width: 300px;
  border:none; 
}

#input-email {
  border-radius: 6px;
  height: 50px;
  width: 300px;
  border:none; 
}

#house {
  border-radius: 6px;
  height: 50px;
  width: 230px;
  border:none;
  background-color: white; 
}

#label-content {
  display: flex;
  justify-content: flex-end;
  width: 900px;
}

#label-family{
  font-weight: bold;
  margin-left: 10px;
}