html {
  padding: 0;
  margin: 0;
}

body {
  background-color: hsl(0, 0%, 90%);
}

main {
  display: flex;
  font-family: Work Sans, sans-serif;
  justify-content: space-around;
}

.header {
  background-color: rgb(50, 167, 145);
  padding: 1%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: -10px;
}

.trybewarts-login {
  display: flex;
  justify-content: flex-end;
  width: 35%;
  height: 40%;
}

.email {
  border-radius: 6px;
  height: 50%;
  width: 40%;
  padding: 2%;
  border: none;
  outline: none;
}

.password {
  border-radius: 6px;
  height: 50%;
  width: 30%;
  padding: 2%;
  border: none;
  outline: none;
}

.entrada {
  border-radius: 6px;
  height: 30%;
  width: 25%;
  padding: 2%;
  border: none;
  background-color: rgb(52, 8, 109);
  color: white;
  font-weight: 600;
}

#trybewarts-header-title {
  display: flex;
  align-self: center;
  color: white;
}

#title-form {
  display: flex;
  justify-content: start;
  margin: 3% 10%;
  padding: 2%;
  user-select: none;
}

#form {
  display: flex;
  justify-content: start;
}

#trybewarts-logo {
  display: flex;
}

#trybewarts-forms-logo {
  display: flex;
  height: 500px;
}

#evaluation-form {
  width: 675px;
  display: flex;
  flex-direction: column;
}

#nameLastName {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 3%;
  justify-content: space-evenly;
  width: 100%;
}

#emailHouse {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 3%;
  justify-content: space-evenly;
  width: 100%;
}

#family {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 30%;
  font-size: 17px;
  outline: none;
}

.family {
  display: flex;
  cursor: pointer;
}

.label {
  display: flex;
  align-self: flex-start;
  cursor: pointer;
}

#rate {
  display: flex;
}

#input-name {
  border-radius: 6px;
  height: 50px;
  width: 45%;
  border: 1px solid rgb(50, 167, 145);
  outline: none;
}

#input-lastname {
  border-radius: 6px;
  height: 50px;
  width: 45%;
  border: 1px solid rgb(50, 167, 145);
  outline: none;
}

#input-email {
  border-radius: 6px;
  height: 50px;
  width: 45%;
  border: 1px solid rgb(50, 167, 145);
  outline: none;
}

#house {
  border-radius: 6px;
  height: 52px;
  width: 45%;
  background-color: white;
  border: 1px solid rgb(50, 167, 145);
}

#label-family , #label-content , #label-rate , #textarea , #label-infos {
  display: flex;
  justify-content: start;
  margin-left: 5%;
  font-size: 17px;
  font-weight: 700;
  margin-top: 2%;
  user-select: none;
}

#family , #matter , #blocTextArea {
  display: flex;
  flex-wrap: wrap;
  padding: 3%;
  margin-right: 30%;
  margin-left: 0%;
}

#firstFamily , #secondFamily , #thirdFamily , #subjects , #rates , #agree , #blocText {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  width: 100%;
  padding: 5%;
  user-select: none;
}

.subjects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 1%;
  user-select: none;
  cursor: pointer;
}

.rate {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  justify-content: center;
  user-select: none;
  cursor: pointer;
}

#textarea , #label-infos {
  display: flex;
  align-self: flex-start;
  width: 80%;
  margin: 0;
}

#textarea {
  border: 1px solid rgb(50, 167, 145);
  border-radius: 3%;
  width: 675px;
  resize: none;
  outline: none;
  font-weight: 400;
  font-size: 16;
  padding: 2%;
}

#agreement {
  display: flex;
  align-self: flex-end;
  width: 10%;
  padding: 2%;
  user-select: none;
}

footer {
  margin-top: 7%;
  color: rgb(50, 167, 145);
  user-select: none;
}

#submit-btn {
  display: flex;
  align-self: center;
  width: 30%;
  margin: 0;
  padding: 2%;
  border: 4px solid rgb(239, 245, 244);
  background-color: rgb(50, 167, 145);
  color: rgb(252, 252, 252);
  text-align: center;
  justify-content: center;
  font-size: 15px;
  font-weight: 700;
  user-select: none;
  cursor: pointer;
}

#counter {
  display: inline;
  transform: translate( 630px, -210%);
  text-align: right;
  user-select: none;
  font-style: italic;
  color: rgb(108, 122, 96);
}

.textarea {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 2%;
}

#hofs , #jest , #promises , #react , #SQL , #python , #agreement , #label-infos {
  cursor: pointer;
}