html {
  padding: 0;
  margin: 0;
}

.header {
  background-color: rgb(50, 167, 145);
  padding: 5%;
  display: flex;
  justify-content: space-around; /* dica */
  align-items: center;  
}

/* .trybewarts-header-logo {

} */

.trybewarts-login {
  display: flex;
  justify-content: flex-end;
}

#trybewarts-header-title {
display: flex;
align-self: center;
}
